<% if @locations && @locations.empty? %>
  <%= flash[:notice] %>
  Pré-réservez ce logement : <%= link_to "Remplissez le formulaire", "TODO" %>
<% elsif @locations %>
  <p>
    <%= flash[:notice] %><br/>
    Nous vous invitons à choisir un autre logement. <%= link_to "Nos Logements", houses_path %>
  </p>
<% end %>