<h1>Nouvelle Habitation à louer</h1>

<% form_for(@house, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Enregistrer' %>
  </p>
<% end %>

<%= link_to 'Retour', houses_path %>