body { background-color: #fff; color: #333;
	width: 1004px;
}

html {
	width: 1024px;
	height: 768px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header {
	width: 1004px;
	background-color: #4690d7;
	height: 100px;
}

#container{
  background-color: white;
  overflow:hidden;
  width: 1004px;
}
#content{
  background-color:#0ff;
  border-right: 150px solid #464a55;
  /* The width and color of the rail */
  margin-right: -300px; /* Hat tip to Ryan Brill */
  float:left;
	width: 824px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0;
}
#sidecol{
  background-color:#f00;
  width: 300px;
  float:left;
}

#footer {
	position: relative;
	background-color: #ffd900;
	width: 1004px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

/* @group Show Page */

#promotions {
	
}

#titre {
	
}

#titre .nom_house {
	
}

#titre .infos_house {
	
}

#photos {
	
}

#photos #overview {
	
}

#photos #tableau_photos {
	
}

#description {
	
}

#formulaire {
	
}

#section_admin {
	
}



/* @end */