<h1>Nouvelle Offre Promotionnelle</h1>

<% form_for(@offre_promo) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit 'Enregistrer' %>
  </p>
<% end %>

<%= link_to 'Retour', house_offre_promos_path(@house) %>